* {
    margin: 0; 
    padding: 0;
}

body {
    margin: 0 2%;
}

.headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(141, 96, 88);
    font-size: 2.5rem;
}

.headlineNew {
    color: rgb(83, 180, 123);
}

.goals {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(126, 51, 133);
    font-size: 1.5rem;
    list-style: upper-roman;
    padding: 2% 9%;
}

button {
    font-size: 1rem;
    color: #fff;
    background-color: tomato;
    padding: 1%;
    border-radius: 15px;
    margin: 3%;
}

h2 {
    margin: 3% 0;
    text-decoration: underline;
}

p {
    padding: 2% 0;
    font-weight: bold;
}

section {
    background: rgb(231, 226, 226);
    padding: 2%;
}

section:nth-of-type(1n + 2) {
    background: rgb(212, 214, 175);
    border-bottom: 3px dotted black;
    padding: 5%;
}